server:
  port: 9000
  servlet:
    context-path: /cmfz
    jsp:
      init-parameters:
        development: true

spring:
#  数据源
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    username: hr
    password: hr
    url: jdbc:oracle:thin:@localhost:1521:XE
    driver-class-name: oracle.jdbc.OracleDriver
    #      编码过滤器
  http:
    encoding:
      charset: utf-8
      force: true
      force-request: true
      force-response: true
# 视图解析器
  mvc:
    view:
      prefix: /
      suffix: .jsp
  redis:
    host: 192.168.19.131
#  mapper文件的包扫描
mybatis:
  type-aliases-package: com.baizhi.entity
  mapper-locations: com/baizhi/mapper/*Mapper.xml
logging:
  level:
    root: error
    com.baizhi.dao: debug
    com.baizhi.aspect: debug
    #path:
    pattern:
      console: '[%p] [%d{yyyy-MM-dd HH:mm:ss}] %c %m %n'

